.error {
    color: #e35c5c;
    margin-left: 0.1em;
    font-size: 1.2em;
}

.no-error {
    color: #5d9d58;
    margin-left: 0.1em;
    font-size: 1.7em;
    border: 2px #5d9d58 solid;
    border-radius: 1em;
}

.loginError {
    color: #e35c5c;
    margin-left: 0.1em;
    font-size: 1.4em;
    text-align: center;
}
.loginNoError {
    color: #5d9d58;
    margin-left: 0.1em;
    font-size: 1.4em;
    text-align: center;
}
.editinfo {
    padding-top: 0.5em;
    padding-bottom: 0.75em;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

#header {
    background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #384955, #655361, #85505f);
}
